services:
  postgres:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: postgres-docker-container
    ports:
      - "5432:5432"
    environment:
      - POSTGRES_USER=${PG_USER:-defaultuser}
      - POSTGRES_PASSWORD=${PG_PASSWORD:-defaultpassword}
      - POSTGRES_DB=${PG_DATABASE:-dookan}
      - PGDATA=/var/lib/postgresql/data/pgdata
    volumes:
        - postgres-data:/var/lib/postgresql/data/pgdata
        - ./init.sql:/docker-entrypoint-initdb.d/init.sql
    restart: unless-stopped
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 10s
      timeout: 5s
      retries: 5

volumes:
  postgres-data:
    name: postgres-data
    driver: local